@inherits LayoutComponentBase
@inject ILocalizationService Localizer
@inject IPageTitleService PageTitleService
@implements IDisposable

<MudThemeProvider Theme="@Themes.DefaultTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Class="app-topbar">
        <MudSpacer />
        <MudMenu Icon="@Icons.Material.Filled.Language" Color="Color.Inherit" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" PopoverClass="padding-0">
            <MudMenuItem OnClick="@(() => ChangeCulture("bg-BG"))" Class="@((CultureInfo.CurrentCulture.Name == "bg-BG") ? "selected-culture" : "")">
                <div class="culture-menu-item-container">
                    <span style="font-size: 1rem;">🇧🇬</span>
                    <span>Български</span>
                    @if (CultureInfo.CurrentCulture.Name == "bg-BG")
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="margin-left: auto;" />
                    }
                </div>
            </MudMenuItem>
            <MudMenuItem OnClick="@(() => ChangeCulture("en-US"))" Class="@((CultureInfo.CurrentCulture.Name == "en-US") ? "selected-culture" : "")">
                <div class="culture-menu-item-container">
                    <span style="font-size: 1rem;">🇺🇸</span>
                    <span>English</span>
                    @if (CultureInfo.CurrentCulture.Name == "en-US")
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="margin-left: auto;" />
                    }
                </div>
            </MudMenuItem>
        </MudMenu>
    </MudAppBar>

    <MudMainContent Class="main-content">
        <div class="page-title-container">
            <MudText Typo="Typo.h2" Class="page-title">@Localizer[PageTitleService.TitleKey]</MudText>
        </div>

        <div class="page-content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    protected override void OnInitialized()
    {
        PageTitleService.OnChange += OnPageTitleChanged;
        Localizer.OnCultureChanged += OnCultureChanged;
    }

    private void OnPageTitleChanged()
    {
        StateHasChanged();
    }

    private void OnCultureChanged()
    {
        StateHasChanged();
    }

    private void ChangeCulture(string culture)
    {
        Localizer.SetCulture(culture);
    }

    public void Dispose()
    {
        PageTitleService.OnChange -= OnPageTitleChanged;
        Localizer.OnCultureChanged -= OnCultureChanged;
    }
}
