@inherits ExtendedComponentBase
@using StaffTracker.Enums

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5" Style="display:flex; align-items:stretch;">
            <MudIcon Icon="@Icons.Material.Filled.Download" Class="mr-3 mb-n1" />
            @Localizer["ExportDialogTitle"]
        </MudText>
    </TitleContent>
    <DialogContent>
        <EditForm @ref="Form" Model="Model">
            <FluentValidator />

            <MudStack Style="min-width: 400px; gap: 0 !important;">
                <!-- Export Type Selection -->
                <MudStack Spacing="2" Style="padding-top: 0px;" Class="export-form-section">
                    <MudSelect @bind-Value="@Model.ExportType"
                               Label="@Localizer["ExportType"]"
                               Variant="Variant.Outlined">
                        <MudSelectItem Value="ExportType.ExportType_Day">@Localizer[ExportType.ExportType_Day.ToString()]</MudSelectItem>
                        <MudSelectItem Value="ExportType.ExportType_Month">@Localizer[ExportType.ExportType_Month.ToString()]</MudSelectItem>
                        <MudSelectItem Value="ExportType.ExportType_Year">@Localizer[ExportType.ExportType_Year.ToString()]</MudSelectItem>
                        <MudSelectItem Value="ExportType.ExportType_Range">@Localizer[ExportType.ExportType_Range.ToString()]</MudSelectItem>
                    </MudSelect>
                    @if (Model.ExportType == ExportType.ExportType_Day)
                    {
                        <MudDatePicker @bind-Date="Model.Day"
                                       For="@(() => Model.Day)"
                                       Label="@Localizer["SelectDate"]"
                                       Mask="@(new DateMask("dd.MM.yyyy"))"
                                       DateFormat="dd.MM.yyyy"
                                       Editable="true"
                                       AutoClose="true"
                                       Variant="Variant.Outlined"
                                       PickerVariant="PickerVariant.Dialog" />
                    }
                    else if (Model.ExportType == ExportType.ExportType_Month)
                    {
                        <MudDatePicker @bind-Date="Model.Month"
                                       For="@(() => Model.Month)"
                                       Label="@Localizer["SelectMonth"]"
                                       Mask="@(new DateMask("MM/yyyy"))"
                                       DateFormat="MM/yyyy"
                                       TitleDateFormat="MM/yyyy"
                                       Editable="true"
                                       AutoClose="true"
                                       FixDay="@DateTime.Now.Day"
                                       Variant="Variant.Outlined"
                                       PickerVariant="PickerVariant.Dialog" />
                    }
                    else if (Model.ExportType == ExportType.ExportType_Year)
                    {
                        <MudDatePicker @bind-Date="Model.Year"
                                       For="@(() => Model.Year)"
                                       Label="@Localizer["SelectYear"]"
                                       Mask="@(new DateMask("yyyy"))"
                                       DateFormat="yyyy"
                                       TitleDateFormat="yyyy"
                                       Editable="true"
                                       AutoClose="true"
                                       FixDay="@DateTime.Now.Day" FixMonth="@DateTime.Now.Month"
                                       Variant="Variant.Outlined"
                                       PickerVariant="PickerVariant.Dialog" />
                    }
                    else if (Model.ExportType == ExportType.ExportType_Range)
                    {
                        <div>

                        <MudDatePicker @bind-Date="Model.RangeStartDate"
                                       For="@(() => Model.RangeStartDate)"
                                       Label="@Localizer["SelectStartDate"]"
                                       Mask="@(new DateMask("dd.MM.yyyy"))"
                                       DateFormat="dd.MM.yyyy"
                                       Editable="true"
                                       AutoClose="true"
                                       Variant="Variant.Outlined"
                                       PickerVariant="PickerVariant.Dialog" />
                        <MudDatePicker @bind-Date="Model.RangeEndDate"
                                       For="@(() => Model.RangeEndDate)"
                                       Label="@Localizer["SelectEndDate"]"
                                       Mask="@(new DateMask("dd.MM.yyyy"))"
                                       DateFormat="dd.MM.yyyy"
                                       Editable="true"
                                       AutoClose="true"
                                       Variant="Variant.Outlined"
                                       PickerVariant="PickerVariant.Dialog" />
                        </div>
                    }
                </MudStack>

                <MudStack Spacing="2" Class="export-form-section">
                    <MudTextField @bind-Value="Model.Folder"
                                  Variant="Variant.Outlined"
                                  Label="@Localizer["ExportFolder"]"
                                  ReadOnly="true"
                                  FullWidth="true" 
                                  Adornment="Adornment.End" 
                                  AdornmentIcon="@Icons.Material.Filled.FolderOpen" 
                                  OnAdornmentClick="SelectFolder" />

                    <MudTextField Label="@Localizer["FileName"]"
                                  @bind-Value="@Model.FileName"
                                  For="@(() => Model.FileName)"
                                  FullWidth="true"
                                  Variant="Variant.Outlined" />
                </MudStack>

                <MudTextField Label="@Localizer["Company"]"
                              @bind-Value="@Model.Company"
                              For="@(() => Model.Company)"
                              FullWidth="true"
                              Variant="Variant.Outlined"
                              Class="margin-top-24" />
            </MudStack>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@Localizer["Cancel"]</MudButton>
        <MudButton Color="Color.Primary" OnClick="PerformExport" Variant="Variant.Filled">
            @Localizer["Export"]
        </MudButton>
    </DialogActions>
</MudDialog>